<div id="bio" class="bio-page">
  <img class="bio-image" src="../../assets/bio-image.jpg" />
  <div class="bio-text">
    <span>
      <p>Hello There!</p>
      <p>
        I'm James Pica, a dedicated full stack developer. Originally from Long
        Island, I've since moved to Baltimore where I work as a software
        engineer and tech lead. I have a passion for learning, I am constantly
        trying to hone my professional skills. When I'm not coding I can usually
        be found at a local concert or running along the Baltimore harbor.
      </p>
    </span>
  </div>
</div>
