<div id="bio" class="bio-page">
  <img class="bio-image" src="../../assets/bio-image.jpg" />
  <div class="bio-text">
    <span>
      <h4>Hello There!</h4>
      <p>
        I am James Pica, a full stack developer. I'm originally from Long
        Island, NY. I moved to Baltimore in 2016 where I've gained experience
        working on a variety of development projects and as a technology leader.
        I have a passion for mentoring and continuous learning.
      </p>
    </span>
  </div>
</div>
